# BOOKS GOODREADS clean and format


###  -  After retrieving details from the scraped webpage, the subsequent step involved cleaning and formatting the acquired data. This process entailed refining the dataset to ensure consistency, accuracy, and uniformity in its structure and content. Cleaning procedures typically involved handling missing or erroneous values, standardizing data formats, and removing any inconsistencies or redundancies.

###  -  Formatting the data was essential to enhance its readability, usability, and interpretability. This step often included organizing the dataset into logical sections, renaming columns for clarity, and standardizing values or units where necessary. Additionally, data formatting aimed to facilitate seamless analysis and visualization by adhering to best practices and conventions.

###  -  By cleaning and formatting the dataset, I ensured that the information gleaned from the scraped web page was refined and optimized for subsequent analysis, interpretation, and presentation.

In [57]:
# Imort Libraries

import pandas as pd

In [58]:
# Load the data

books_df = pd.read_csv('books_goodreads.csv')
books_df.head()

,title,author,version_price,stars,ratings,reviews,sinopsis,genre,num_pages,published,num_books
0,The Hunger Games,Suzanne Collins,Kindle Unlimited $0.00,4.34,"8,601,389 ratings","216,773 reviews","Could you survive on your own in the wild, wit...",Young Adult,"374 pages, Hardcover","First published September 14, 2008",72 books99.7k followers
1,Harry Potter and the Order of the Phoenix,J.K. Rowling,Kindle Unlimited $0.00,4.50,"3,359,608 ratings","62,879 reviews",Harry Potter is about to start his fifth year ...,Young Adult,"912 pages, Paperback","First published June 21, 2003",535 books225k followers
2,Pride and Prejudice,Jane Austen,Kindle $2.99,4.29,"4,238,613 ratings","113,179 reviews","Since its immediate success in 1813, Pride and...",Classics,"279 pages, Paperback","First published January 28, 1813","4,124 books66.3k followers"
3,To Kill a Mockingbird,Harper Lee,Kindle $13.99,4.26,"6,079,471 ratings","116,454 reviews",The unforgettable novel of a childhood in a sl...,Classics,"323 pages, Paperback","First published July 11, 1960",70 books13.5k followers
4,The Book Thief,Markus Zusak,Kindle $10.99,4.39,"2,538,383 ratings","143,787 reviews",Librarian's note: An alternate cover edition c...,Historical Fiction,"592 pages, Hardcover","First published September 1, 2005",23 books39.2k followers

In [59]:
books_df.shape

(7182, 11)

In [60]:
# Check for NaN values

books_df.isnull().sum()

title            56
author           56
version_price    61
stars            56
ratings          56
reviews          56
sinopsis         65
genre            60
num_pages        59
published        65
num_books        62
dtype: int64

In [61]:
# Drop the NaN values

books_df.dropna(inplace = True)

In [62]:
# Check for NaN values again

books_df.isnull().sum()

title            0
author           0
version_price    0
stars            0
ratings          0
reviews          0
sinopsis         0
genre            0
num_pages        0
published        0
num_books        0
dtype: int64

In [63]:
# Check for duplicates

books_df.duplicated().sum()

64

In [64]:
# Drop duplicates

books_df.drop_duplicates(inplace=True)

In [66]:
# Check author column

books_df.author.head()

0    Suzanne Collins
1       J.K. Rowling
2        Jane Austen
3         Harper Lee
4       Markus Zusak
Name: author, dtype: object

In [67]:
# Change the authors name to upper

books_df['author'] = books_df['author'].str.upper()
books_df.head(1)

,title,author,version_price,stars,ratings,reviews,sinopsis,genre,num_pages,published,num_books
0,The Hunger Games,SUZANNE COLLINS,Kindle Unlimited $0.00,4.34,"8,601,389 ratings","216,773 reviews","Could you survive on your own in the wild, wit...",Young Adult,"374 pages, Hardcover","First published September 14, 2008",72 books99.7k followers

In [68]:
# Check the column version_price

books_df.version_price.head()

0    Kindle Unlimited $0.00
1    Kindle Unlimited $0.00
2              Kindle $2.99
3             Kindle $13.99
4             Kindle $10.99
Name: version_price, dtype: object

In [69]:
# Split the version_price column into version column and price column

split_data = books_df['version_price'].str.split(' ', n=1, expand=True)
books_df['version'] = split_data[0]
books_df['price'] = split_data[1]

# Drop the original column
books_df.drop(columns=['version_price'], inplace=True)

books_df.head(1)

,title,author,stars,ratings,reviews,sinopsis,genre,num_pages,published,num_books,version,price
0,The Hunger Games,SUZANNE COLLINS,4.34,"8,601,389 ratings","216,773 reviews","Could you survive on your own in the wild, wit...",Young Adult,"374 pages, Hardcover","First published September 14, 2008",72 books99.7k followers,Kindle,Unlimited $0.00

In [70]:
# Check the column price

books_df.price.head()

0    Unlimited $0.00
1    Unlimited $0.00
2              $2.99
3             $13.99
4             $10.99
Name: price, dtype: object

In [71]:
# Extract the price

books_df['price_numeric'] = books_df['price'].str.extract(r'\$([\d.]+)').fillna(0).astype(float)
books_df.drop(columns=['price'], inplace=True)
books_df['price'] = books_df['price_numeric']
books_df.drop(columns=['price_numeric'], inplace=True)

In [72]:
# Books that have price = 0 are version Kindle Unlimited. We will update the column version

books_df.loc[books_df['price'] == 0, 'version'] = 'Kindle Unlimited'
books_df.head(1)

,title,author,stars,ratings,reviews,sinopsis,genre,num_pages,published,num_books,version,price
0,The Hunger Games,SUZANNE COLLINS,4.34,"8,601,389 ratings","216,773 reviews","Could you survive on your own in the wild, wit...",Young Adult,"374 pages, Hardcover","First published September 14, 2008",72 books99.7k followers,Kindle Unlimited,0.0

In [73]:
# Check the ratings column

books_df.ratings.head()

0    8,601,389 ratings
1    3,359,608 ratings
2    4,238,613 ratings
3    6,079,471 ratings
4    2,538,383 ratings
Name: ratings, dtype: object

In [74]:
# Convert the ratings column into numeric

books_df['ratings'] = books_df['ratings'].str.replace(',', '').str.replace(' ratings', '')
books_df['ratings'] = books_df['ratings'].str.replace(',', '').str.replace(' rating', '')


books_df['ratings'] = pd.to_numeric(books_df['ratings'])

In [75]:
# Check the reviews column

books_df.reviews.head()

0    216,773 reviews
1     62,879 reviews
2    113,179 reviews
3    116,454 reviews
4    143,787 reviews
Name: reviews, dtype: object

In [76]:
# Convert the reviews column into numeric

books_df['reviews'] = books_df['reviews'].str.replace(',', '').str.replace(' reviews', '')
books_df['reviews'] = books_df['reviews'].str.replace(',', '').str.replace(' review', '')


books_df['reviews'] = pd.to_numeric(books_df['reviews'])
books_df.head(1)

,title,author,stars,ratings,reviews,sinopsis,genre,num_pages,published,num_books,version,price
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,"374 pages, Hardcover","First published September 14, 2008",72 books99.7k followers,Kindle Unlimited,0.0

In [77]:
# Change the name of the column sinopsis to synopsis

books_df.rename(columns={'sinopsis': 'synopsis'}, inplace=True)

In [78]:
# Check the synopsis column

books_df.synopsis[0]

"Could you survive on your own in the wild, with every one out to make sure you don't live to see the morning?\n\nIn the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and one girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.\n\nSixteen-year-old Katniss Everdeen, who lives alone with her mother and younger sister, regards it as a death sentence when she steps forward to take her sister's place in the Games. But Katniss has been close to dead beforeâ€”and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love."

In [79]:
# Check for NaN values in the genre column

books_df.genre.isnull().sum()

0

In [80]:
# Check the genre column

books_df.genre.unique()

array(['Young Adult', 'Classics', 'Historical Fiction', 'Fantasy',
       'Childrens', 'Fiction', 'Science Fiction', 'Horror',
       'Picture Books', 'Mystery', 'Nonfiction', 'Romance',
       'Graphic Novels', 'Thriller', 'Plays', 'Poetry', 'History',
       'Comics', 'Travel', 'Philosophy', 'Paranormal', 'Science',
       'Christian Fiction', 'Short Stories', 'Paranormal Romance',
       'Contemporary', 'Self Help', 'Mythology', 'Christmas', 'Religion',
       'Dystopia', 'Published March 24, 2023',
       'Autistic Spectrum Disorder', 'Chick Lit', 'Vampires',
       'Greek Mythology', 'Africa', 'Christian', 'Urban Fantasy',
       'True Crime', 'Memoir', 'Survival', 'Drama',
       'Contemporary Romance', 'Realistic Fiction', 'Humor', 'Feminism',
       'First published August 1, 2023', 'Spirituality', 'Dark',
       'Business', 'LGBT', 'Writing', 'Biography',
       'Published November 16, 2021', 'Zombies', 'Published May 30, 2023',
       'First published November 20, 2023', 'Published November 29, 2023',
       'New Adult', 'Published September 27, 2023',
       'Published November 22, 2022', 'Legal Thriller', 'Steampunk',
       'Published October 24, 2023', 'Manga',
       'Published October 31, 2023', 'Murder Mystery',
       'Published August 30, 2021', 'Psychology', 'Novels', 'Love Story',
       'Post Apocalyptic', 'Historical Romance',
       'Published October 25, 2023', 'Sports Romance', 'Inspirational',
       'Parenting', 'First published January 1, 2016', 'World War II',
       'Young Adult Romance', 'Time Travel', 'Finance', 'Crime',
       'Middle Grade', 'First published September 12, 2013', 'Historical',
       'Buddhism', 'Adventure', 'Reverse Harem', 'Islam',
       'Published July 25, 2019', 'First published October 1, 2013',
       'Angels', 'Witches', 'Amazon', 'Star Wars',
       'Published March 1, 2019', 'Productivity',
       'First published February 2, 2015', 'Published September 24, 2023',
       'Relationships', 'Werewolves', 'Gothic', 'Economics',
       'Published September 1, 2023', 'China', 'Health',
       'First published March 21, 2022', 'War', 'Published June 24, 2021',
       'Art', 'Erotica', 'Politics', 'Turkish Literature',
       'Published September 28, 2019', 'Queer',
       'Published December 30, 2019', 'Published December 1, 2020',
       'Published October 29, 2023', 'Pulp',
       'First published January 1, 1981', 'Published November 29, 2019',
       'Published February 13, 2023', 'Prayer',
       'Published April 21, 2017', 'Published May 8, 2016', 'BDSM',
       'Published August 30, 2022', 'Published August 29, 2018',
       'Leadership', 'Published September 7, 2022',
       'Published September 5, 2016', 'Romantic Suspense', 'Halloween',
       'Animals', 'Published June 26, 2017', 'Dark Fantasy', 'Theology',
       'Published March 15, 2023', 'M M Romance', 'Education',
       'Published February 21, 2019', 'Speculative Fiction', 'Japan',
       'Published November 10, 2022', 'Published September 15, 2023',
       'Published February 22, 2022', 'First published October 21, 2016',
       'Published December 18, 2019', 'Sports',
       'Published December 14, 2020', 'Design', 'Published June 12, 2023',
       'Published April 18, 1', 'Published February 14, 2017',
       'Reference', 'Published March 1, 2021',
       'First published April 20, 2014',
       'First published August 31, 2017',
       'First published October 31, 2017', 'Fan Fiction', 'Music',
       'Published October 21, 2022', 'Westerns', 'Catholic', 'France',
       'First published November 17, 2012',
       'First published June 19, 2014', 'First published January 1, 1923',
       'Published June 6, 2016', 'First published October 31, 2018',
       'First published November 13, 2012', 'Published May 9, 2020',
       'First published December 15, 2011',
       'First published January 1, 2014',
       'First published March 15, 2023', 'Lds Fiction',
       'Published July 26, 2019', 'Published January 18, 2021',
       'First published September 3, 2019',
       'First published August 5, 2009', 'First published March 20, 2012',
       'First published January 1, 1994', 'Bizarro Fiction',
       'First published January 1, 1987', 'Published May 23, 2016',
       'First published March 7, 2011', 'Published January 22, 2019',
       'Gaming', 'Christianity', 'First published May 7, 2019',
       'First published June 16, 2010', 'Magical Realism',
       'First published August 2, 2021',
       'First published February 12, 2015'], dtype=object)

In [82]:
# Create a boolean mask to identify rows containing any form of 'Publish' in the 'genre' column

mask = books_df['genre'].str.contains(r'Publish', case=False)

# Filter the DataFrame to keep rows without any form of 'Publish' in the 'genre' column
books_df = books_df[~mask]
books_df.head()

,title,author,stars,ratings,reviews,synopsis,genre,num_pages,published,num_books,version,price
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,"374 pages, Hardcover","First published September 14, 2008",72 books99.7k followers,Kindle Unlimited,0.00
1,Harry Potter and the Order of the Phoenix,J.K. ROWLING,4.50,3359608,62879,Harry Potter is about to start his fifth year ...,Young Adult,"912 pages, Paperback","First published June 21, 2003",535 books225k followers,Kindle Unlimited,0.00
2,Pride and Prejudice,JANE AUSTEN,4.29,4238613,113179,"Since its immediate success in 1813, Pride and...",Classics,"279 pages, Paperback","First published January 28, 1813","4,124 books66.3k followers",Kindle,2.99
3,To Kill a Mockingbird,HARPER LEE,4.26,6079471,116454,The unforgettable novel of a childhood in a sl...,Classics,"323 pages, Paperback","First published July 11, 1960",70 books13.5k followers,Kindle,13.99
4,The Book Thief,MARKUS ZUSAK,4.39,2538383,143787,Librarian's note: An alternate cover edition c...,Historical Fiction,"592 pages, Hardcover","First published September 1, 2005",23 books39.2k followers,Kindle,10.99

In [83]:
# Check for NaN values again

books_df.genre.isnull().sum()

0

In [84]:
# Check for unique values in the genre column

books_df.genre.unique()

array(['Young Adult', 'Classics', 'Historical Fiction', 'Fantasy',
       'Childrens', 'Fiction', 'Science Fiction', 'Horror',
       'Picture Books', 'Mystery', 'Nonfiction', 'Romance',
       'Graphic Novels', 'Thriller', 'Plays', 'Poetry', 'History',
       'Comics', 'Travel', 'Philosophy', 'Paranormal', 'Science',
       'Christian Fiction', 'Short Stories', 'Paranormal Romance',
       'Contemporary', 'Self Help', 'Mythology', 'Christmas', 'Religion',
       'Dystopia', 'Autistic Spectrum Disorder', 'Chick Lit', 'Vampires',
       'Greek Mythology', 'Africa', 'Christian', 'Urban Fantasy',
       'True Crime', 'Memoir', 'Survival', 'Drama',
       'Contemporary Romance', 'Realistic Fiction', 'Humor', 'Feminism',
       'Spirituality', 'Dark', 'Business', 'LGBT', 'Writing', 'Biography',
       'Zombies', 'New Adult', 'Legal Thriller', 'Steampunk', 'Manga',
       'Murder Mystery', 'Psychology', 'Novels', 'Love Story',
       'Post Apocalyptic', 'Historical Romance', 'Sports Romance',
       'Inspirational', 'Parenting', 'World War II',
       'Young Adult Romance', 'Time Travel', 'Finance', 'Crime',
       'Middle Grade', 'Historical', 'Buddhism', 'Adventure',
       'Reverse Harem', 'Islam', 'Angels', 'Witches', 'Amazon',
       'Star Wars', 'Productivity', 'Relationships', 'Werewolves',
       'Gothic', 'Economics', 'China', 'Health', 'War', 'Art', 'Erotica',
       'Politics', 'Turkish Literature', 'Queer', 'Pulp', 'Prayer',
       'BDSM', 'Leadership', 'Romantic Suspense', 'Halloween', 'Animals',
       'Dark Fantasy', 'Theology', 'M M Romance', 'Education',
       'Speculative Fiction', 'Japan', 'Sports', 'Design', 'Reference',
       'Fan Fiction', 'Music', 'Westerns', 'Catholic', 'France',
       'Lds Fiction', 'Bizarro Fiction', 'Gaming', 'Christianity',
       'Magical Realism'], dtype=object)

In [85]:
# Define a dictionary for mapping original values to shortened ones

genre_mapping = {
    'Picture Books': 'Children',
    'Religion': 'Religion/Spirituality',
    'Spirituality': 'Religion/Spirituality',
    'Christian': 'Religion/Spirituality',
    'Christian Fiction': 'Religion/Spirituality',
    'Christianity': 'Religion/Spirituality',
    'Theology': 'Religion/Spirituality',
    'Prayer': 'Religion/Spirituality',
    'Buddhism': 'Religion/Spirituality',
    'Islam': 'Religion/Spirituality',
    'Catholic': 'Religion/Spirituality',
    'Historical Fiction': 'Historical',
    'World War II': 'Historical',
    'War': 'Historical',
    'Historical Romance': 'Historical',
    'Middle Grade': 'Children',
    'Post Apocalyptic': 'Science Fiction',
    'Speculative Fiction': 'Science Fiction',
    'Star Wars': 'Science Fiction',
    'Young Adult Romance': 'Romance',
    'Love Story': 'Romance',
    'Chick Lit': 'Romance',
    'Queer': 'Romance',
    'LGBT': 'Romance',
    'Reverse Harem': 'Romance',
    'M M Romance': 'Romance',
    'Sports Romance': 'Romance',
    'Urban Fantasy': 'Fantasy',
    'Dark Fantasy': 'Fantasy',
    'Steampunk': 'Fantasy',
    'Magical Realism': 'Fantasy',
    'BDSM': 'Erotica',
    'Romantic Suspense': 'Mystery/Thriller',
    'Mystery': 'Mystery/Thriller',
    'Thriller': 'Mystery/Thriller',
    'Murder Mystery': 'Mystery/Thriller',
    'Legal Thriller': 'Mystery/Thriller',
    'Crime': 'Mystery/Thriller',
    'True Crime': 'Mystery/Thriller',
    'Dark': 'Mystery/Thriller',
    'Dystopia': 'Literature',
    'Westerns': 'Cultural',
    'France': 'Cultural',
    'Japan': 'Cultural',
    'Africa': 'Cultural',
    'China': 'Cultural',
    'Amazon': 'Cultural',
    'Turkish Literature': 'Cultural',
    'Greek Mythology': 'Cultural',
    'Mythology': 'Cultural',
    'Relationships': 'Personal Development',
    'Self Help': 'Personal Development',
    'Inspirational': 'Personal Development',
    'Survival': 'Personal Development',
    'Fantasy': 'Fantasy',
    'Childrens': 'Children',
    'Science Fiction': 'Science Fiction',
    'Nonfiction': 'Nonfiction',
    'Adventure': 'Nonfiction',
    'Sports': 'Nonfiction',
    'Music': 'Nonfiction',
    'Design': 'Nonfiction',
    'Art': 'Nonfiction',
    'Animals': 'Nonfiction',
    'Finance': 'Nonfiction',
    'Education': 'Nonfiction',
    'Romance': 'Romance',
    'Historical': 'Historical',
    'Erotica': 'Erotica',
    'Horror': 'Horror',
    'Fiction': 'Fiction',
    'Paranormal': 'Paranormal',
    'Contemporary': 'Contemporary',
    'Contemporary Romance':'Contemporary',
    'Realistic Fiction': 'Contemporary',
    'Zombies': 'Horror',
    'Gothic': 'Horror',
    'Angels': 'Paranormal',
    'Paranormal Romance': 'Paranormal',
    'Vampires': 'Paranormal',
    'Witches': 'Paranormal',
    'Werewolves': 'Paranormal',
    'Graphic Novels': 'Literature',
    'Drama': 'Literature',
    'Short Stories': 'Literature',
    'Plays': 'Literature',
    'Writing': 'Nonfiction',
    'Politics': 'Nonfiction',
    'Business': 'Nonfiction',
    'Leadership': 'Nonfiction',
    'Economics': 'Nonfiction',
    'History': 'Nonfiction',
    'Travel': 'Nonfiction',
    'Novels': 'Nonfiction',
    'Feminism': 'Nonfiction',
    'Philosophy': 'Nonfiction',
    'Biography': 'Nonfiction',
    'Psychology': 'Nonfiction',
    'Time Travel': 'Nonfiction',
    'Lds Fiction': 'Fiction',
    'Fan Fiction': 'Fiction',
    'Pulp': 'Fiction',
    'Christmas': 'Fiction',
    'Halloween': 'Fiction',
    'Bizarro Fiction': 'Fiction',
    'Autistic Spectrum Disorder': 'Nonfiction',
    'Memoir': 'Nonfiction',
    'Parenting': 'Nonfiction',
    'Health': 'Nonfiction',
    'Reference': 'Nonfiction',
    'Productivity': 'Nonfiction',
    'Classics': 'Classics',
    'Comics': 'Comics',
    'Humor': 'Humor',
    'Manga': 'Manga',
    'New Adult': 'New Adult',
    'Poetry': 'Poetry',
    'Science': 'Nonfiction',
    'Young Adult': 'Young Adult',
    'Gaming': 'Gaming',
    'Religion/Spirituality': 'Religion/Spirituality',
    'Children': 'Children', 
    'Literature': 'Literature',
    'Mystery/Thriller': 'Mystery/Thriller',
    'Personal Development': 'Personal Development',
    'Cultural': 'Cultural'
    }



books_df.loc[:, 'genre'] = books_df['genre'].map(genre_mapping)

In [86]:
genres = ['Young Adult', 'Classics', 'Historical Fiction', 'Fantasy',
       'Childrens', 'Fiction', 'Science Fiction', 'Horror',
       'Picture Books', 'Mystery', 'Nonfiction', 'Romance',
       'Graphic Novels', 'Thriller', 'Plays', 'Poetry', 'History',
       'Comics', 'Travel', 'Philosophy', 'Paranormal', 'Science',
       'Christian Fiction', 'Short Stories', 'Paranormal Romance',
       'Contemporary', 'Self Help', 'Mythology', 'Christmas', 'Religion',
       'Dystopia', 'Autistic Spectrum Disorder', 'Chick Lit', 'Vampires',
       'Greek Mythology', 'Africa', 'Christian', 'Urban Fantasy',
       'True Crime', 'Memoir', 'Survival', 'Drama',
       'Contemporary Romance', 'Realistic Fiction', 'Humor', 'Feminism',
       'Spirituality', 'Dark', 'Business', 'LGBT', 'Writing', 'Biography',
       'Zombies', 'New Adult', 'Legal Thriller', 'Steampunk', 'Manga',
       'Murder Mystery', 'Psychology', 'Novels', 'Love Story',
       'Post Apocalyptic', 'Historical Romance', 'Sports Romance',
       'Inspirational', 'Parenting', 'World War II',
       'Young Adult Romance', 'Time Travel', 'Finance', 'Crime',
       'Middle Grade', 'Historical', 'Buddhism', 'Adventure',
       'Reverse Harem', 'Islam', 'Angels', 'Witches', 'Amazon',
       'Star Wars', 'Productivity', 'Relationships', 'Werewolves',
       'Gothic', 'Economics', 'China', 'Health', 'War', 'Art', 'Erotica',
       'Politics', 'Turkish Literature', 'Queer', 'Pulp', 'Prayer',
       'BDSM', 'Leadership', 'Romantic Suspense', 'Halloween', 'Animals',
       'Dark Fantasy', 'Theology', 'M M Romance', 'Education',
       'Speculative Fiction', 'Japan', 'Sports', 'Design', 'Reference',
       'Fan Fiction', 'Music', 'Westerns', 'Catholic', 'France',
       'Lds Fiction', 'Bizarro Fiction', 'Gaming', 'Christianity',
       'Magical Realism']
genres.sort()
genres

['Adventure',
 'Africa',
 'Amazon',
 'Angels',
 'Animals',
 'Art',
 'Autistic Spectrum Disorder',
 'BDSM',
 'Biography',
 'Bizarro Fiction',
 'Buddhism',
 'Business',
 'Catholic',
 'Chick Lit',
 'Childrens',
 'China',
 'Christian',
 'Christian Fiction',
 'Christianity',
 'Christmas',
 'Classics',
 'Comics',
 'Contemporary',
 'Contemporary Romance',
 'Crime',
 'Dark',
 'Dark Fantasy',
 'Design',
 'Drama',
 'Dystopia',
 'Economics',
 'Education',
 'Erotica',
 'Fan Fiction',
 'Fantasy',
 'Feminism',
 'Fiction',
 'Finance',
 'France',
 'Gaming',
 'Gothic',
 'Graphic Novels',
 'Greek Mythology',
 'Halloween',
 'Health',
 'Historical',
 'Historical Fiction',
 'Historical Romance',
 'History',
 'Horror',
 'Humor',
 'Inspirational',
 'Islam',
 'Japan',
 'LGBT',
 'Lds Fiction',
 'Leadership',
 'Legal Thriller',
 'Love Story',
 'M M Romance',
 'Magical Realism',
 'Manga',
 'Memoir',
 'Middle Grade',
 'Murder Mystery',
 'Music',
 'Mystery',
 'Mythology',
 'New Adult',
 'Nonfiction',
 'Novels',
 'Paranormal',
 'Paranormal Romance',
 'Parenting',
 'Philosophy',
 'Picture Books',
 'Plays',
 'Poetry',
 'Politics',
 'Post Apocalyptic',
 'Prayer',
 'Productivity',
 'Psychology',
 'Pulp',
 'Queer',
 'Realistic Fiction',
 'Reference',
 'Relationships',
 'Religion',
 'Reverse Harem',
 'Romance',
 'Romantic Suspense',
 'Science',
 'Science Fiction',
 'Self Help',
 'Short Stories',
 'Speculative Fiction',
 'Spirituality',
 'Sports',
 'Sports Romance',
 'Star Wars',
 'Steampunk',
 'Survival',
 'Theology',
 'Thriller',
 'Time Travel',
 'Travel',
 'True Crime',
 'Turkish Literature',
 'Urban Fantasy',
 'Vampires',
 'War',
 'Werewolves',
 'Westerns',
 'Witches',
 'World War II',
 'Writing',
 'Young Adult',
 'Young Adult Romance',
 'Zombies']

In [88]:
# Check the unique values again

books_df.genre.unique()

array(['Young Adult', 'Classics', 'Historical', 'Fantasy', 'Children',
       'Fiction', 'Science Fiction', 'Horror', 'Mystery/Thriller',
       'Nonfiction', 'Romance', 'Literature', 'Poetry', 'Comics',
       'Paranormal', 'Religion/Spirituality', 'Contemporary',
       'Personal Development', 'Cultural', 'Humor', 'New Adult', 'Manga',
       'Erotica', 'Gaming'], dtype=object)

In [89]:
# Check for NaN values again

books_df['genre'].isna().sum()

0

In [90]:
# Check the column num_pages

books_df.num_pages.head()

0    374 pages, Hardcover
1    912 pages, Paperback
2    279 pages, Paperback
3    323 pages, Paperback
4    592 pages, Hardcover
Name: num_pages, dtype: object

In [91]:
# Split the num_pages column into two columns: number_of_pages and book_format

split_data = books_df['num_pages'].str.split(' pages, ', expand=True)

In [92]:
# Create a copy of the DataFrame to ensure you are working with the original data
books_df = books_df.copy()

# Update the 'number_of_pages' column
books_df.loc[:, 'number_of_pages'] = split_data[0].str.replace(' pages', '', regex=False)

# Update the 'book_format' column
books_df.loc[:, 'book_format'] = split_data[1]

# Drop the original column
books_df.drop(columns=['num_pages'], inplace=True)

# Display the modified DataFrame
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,published,num_books,version,price,number_of_pages,book_format
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,"First published September 14, 2008",72 books99.7k followers,Kindle Unlimited,0.0,374,Hardcover

In [93]:
# Check for unique values in number_of_pages column


books_df['number_of_pages'].unique()

array(['374', '912', '279', '323', '592', '498', '128', '1728', '767',
       '313', '272', '64', '1037', '464', '213', '532', '377', '180',
       '96', '489', '239', '671', '503', '487', '1463', '182', '281',
       '320', '485', '216', '488', '324', '184', '197', '107', '194',
       '277', '417', '268', '372', '537', '429', '331', '835', '208',
       '449', '298', '218', '541', '260', '371', '759', '333', '314',
       '38', '327', '460', '368', '658', '275', '435', '294', '240',
       '1152', '453', '976', '389', '478', '432', '544', '850', '480',
       '304', '325', '964', '423', '796', '496', '241', '264', '399',
       '332', '1168', '152', '452', '497', '821', '346', '1023', '546',
       '734', '227', '161', '158', '652', '720', '637', '479', '159',
       '302', '352', '662', '201', '366', '529', '221', '244', '176',
       '26', '1276', '381', '226', '206', '210', '307', '536', '448',
       '343', '263', '224', '196', '635', '416', '61', '798', '391',
       '296', '2700', '960', '491', '465', '178', '348', '525', '70',
       '215', '361', '692', '137', '443', '567', '815', '238', '89',
       '351', '154', '625', '72', '384', '32', '1155', '406', '518',
       '188', '559', '190', '274', '127', '408', '418', '172', '421',
       '248', '336', '44', '329', '1009', '506', '396', '608', '112',
       '626', '783', '1177', '356', '283', '466', '370', '516', '293',
       '504', '882', '610', '576', '242', '1088', '335', '386', '400',
       '40', '1556', '326', '255', '661', '594', '189', '394', '165',
       '415', '143', '179', '425', '222', '360', '321', '349', '233',
       '784', '607', '291', '390', '392', '306', '1216', '204', '1456',
       '471', '888', '467', '305', '1796', '203', '667', '566', '561',
       '563', '1007', '481', '338', '441', '581', '246', '363', '446',
       '438', '560', '437', '639', '288', '897', '301', '444', '129',
       '704', '118', '512', '1229', '315', '521', '624', '535', '994',
       '586', '1064', '149', '369', '483', '601', '403', '419', '195',
       '256', '289', '562', '531', '679', '258', '292', '312', '328',
       '738', '245', '231', '252', '1344', '4100', '800', '579', '148',
       '318', '604', '849', '139', '1392', '393', '597', '509', '510',
       '490', '748', '199', '565', '186', '540', '725', '647', '276',
       '76', '427', '308', '219', '947', '303', '142', '703', '388',
       '410', '144', '420', '603', '378', '475', '1060', '250', '160',
       '1006', '445', '580', '433', '337', '447', '105', '254', '936',
       '109', '440', '648', '209', '249', '385', '1125', '454', '207',
       '310', '383', '434', '1690', '771', '870', '468', '457', '736',
       '119', '120', '474', '1017', '192', '705', '716', '672', '409',
       '175', '684', '1207', '342', '836', '309', '867', '358', '181',
       '297', '316', '461', '237', '1520', '528', '1087', '217', '500',
       '710', '456', '552', '431', '376', '689', '723', '230', '273',
       '193', '382', '354', '104', '928', '656', '1237', '1049', '198',
       '501', '243', '183', '232', '319', '247', '470', '355', '439',
       '463', '752', '522', '317', '944', '776', '300', '362', '623',
       '75', '729', '401', '269', '345', '1590', '126', '1050', '1443',
       '751', '555', '980', 'Paperback', '285', '1074', '56', '442',
       '235', '284', '572', '469', '706', '407', '334', '956', '280',
       '653', '757', '80', '569', '534', '455', '228', '174', '426', '97',
       '803', '527', '450', '229', '797', '1213', '513', '357', '430',
       '99', '130', '599', '554', '827', '578', '106', '405', '1531',
       '520', '397', '147', '424', '123', '270', '295', '515', '344',
       '845', '514', '462', '375', '290', '556', '690', '121', '402',
       '628', '341', '353', '688', '756', '530', '387', '77', '507',
       '436', '220', '262', '492', '451', '122', '958', '82', '322',
       '622', '259', '146', 'ebook', '74', '404', '629', '476', '1032',
       '681', 'Kindle Edition', '790', '365', '286', '340', '896', '458',
       '52', '359', '212', '60', '564', '985', '136', '848', '177', '557',
       '169', '577', '645', '548', '282', '339', '73', '750', '589',
       '1040', '1182', '640', '909', '721', '261', '517', '1859', '795',
       '937', '545', '2088', '1173', '108', '558', '699', '347', '86',
       '472', '132', '236', '820', '638', '832', '590', '573', '150',
       '162', '733', '350', '499', '398', '185', '98', '735', '859',
       '380', '664', '278', '643', '913', '1147', '287', '726', '191',
       '412', '411', '422', '1056', '124', '666', '234', '1243', '187',
       '153', 'Hardcover', '553', '459', '824', '477', '1273', '200',
       '367', '265', '584', '675', '494', '1120', '668', '299', '1952',
       '395', '812', '714', '1474', '630', '598', '914', '414', '613',
       '732', '654', '663', '802', '1080', '884', '151', '644',
       'Audio Cassette', '59', '1042', '582', '266', '4211', '805', '271',
       '379', '110', '1258', '533', '817', '660', '746', '364', '676',
       '48', '1128', '596', '1376', '670', '731', '63', '116', '111',
       '373', '1024', '1204', '65', '31', '583', '526', '549', '611',
       '28', '493', '202', '145', '50', '801', '651', '330', '1774',
       '842', '502', '1021', '1011', '785', '819', '133', '168', '942',
       '636', '225', '68', '214', '543', '5216', '984', '486', '940',
       '740', '880', '730', '916', '173', '922', '789', '505', '101',
       '482', '19', '893', '682', '927', '113', '311', '568', '925',
       '659', '600', '131', '591', '2934', '934', '650', '257', '484',
       '166', '251', '138', '891', '742', '612', '863', '43', '3', '1144',
       '205', '872', '51', '413', '975', '774', '822', '970', '103',
       '894', '3342', '16', '20', 'Audio CD', '253', '986', '808', '614',
       '1799', '1148', '587', '11', '156', '58', '593', '693', '2184',
       '140', '3403', '157', '722', '163', '473', '631', '816', '6680',
       '649', '906', '117', '754', '125', '1076', '632', '794', '860',
       '547', '691', '1468', '876', '1139', '709', '30', '495', '78',
       '538', 'Mass Market Paperback', '267', '700', '41', '818', '972',
       '788', '609', '155', '864', '1059', '768', '780', '134', '211',
       '769', '655', '839', '223', '2752', '3914', '90', '570', '674',
       '24', '42', '908', '657', '983', '571', '508', '88', '1332',
       '1452', '34', '542', '1536', '95', '866', '724', '428', '1848',
       '91', '114', '4081', '2176', '67', '10', '775', '1203', '620',
       '164', '627', '523', '1219', '606', '170', '62', '39', '1408',
       '84', 'Audible Audio', '702', '766', '1744', '519', '115', '605',
       '685', '55', '2500', '23', '595', '773', '764', '837', '618', '81',
       '747', '46', '921', '2424', '171', '991', '49', 'Nook', '765',
       '100', '665', '669', '2339', '2432', '1246', '990', '2546', '1041',
       '932', '14', '8', '85', '701', '878', '678', '881', '550', '71',
       '2114', '1160', '9', '575', '167', '135', '2078', '862', '1792',
       '1072', '1020', '1600', '1231', '694', '741', '811', '616', '792',
       '615', '950', '641', '574', '37', '511', '1085', '1145', '1552',
       '791', '886', '1030', '36', '2050', '13', '634', '1184', '7',
       '1620', '2', '887', '54', '1044', '1110', '1312', '673', '1635',
       '1534', '1015', '92', '539', '825', '939', '6576', '1200', '621',
       '18', '53', '633', '69', '1104', '2057', '772', '787', 'MP3 Audio',
       '1196', '94', '847', '1844', '2912'], dtype=object)

In [94]:
# Update the 'number_of_pages' column
books_df.loc[:, 'number_of_pages'] = books_df['number_of_pages'].where(
books_df['number_of_pages'].notnull() & books_df['number_of_pages'].astype(str).str.isdigit())

# Drop rows with NaN values
books_df.dropna(inplace=True)

In [95]:
# Check for NaN values

books_df.number_of_pages.isnull().sum()

0

In [96]:
# Convert into integer type

books_df['number_of_pages'] = books_df['number_of_pages'].astype(int)

In [97]:
# Check the column book_format

books_df.book_format.unique()

array(['Hardcover', 'Paperback', 'Mass Market Paperback',
       'Kindle Edition', 'ebook', 'Board book', 'Leather Bound',
       'Library Binding', 'Nook', 'Perfect Paperback', 'Unknown Binding',
       'Audio CD', 'Audiobook', 'Trade Paperback', 'Slipcased Hardcover',
       'Board Book', 'Webnovel', 'Audible Audio', 'Audio Cassette',
       'Brochura', 'MP3 CD', 'School & Library Binding'], dtype=object)

In [98]:
books_df['book_format'].replace(to_replace={'Mass Market Paperback': 'Paperback',
                                           'Perfect Paperback': 'Paperback',
                                           'Trade Paperback': 'Paperback',
                                           'Board book': 'Hardcover',
                                           'Board Book': 'Hardcover',
                                           'Leather Bound': 'Hardcover',
                                           'Slipcased Hardcover': 'Hardcover',
                                           'Library Binding': 'Hardcover',
                                           'School & Library Binding': 'Hardcover',
                                           'Kindle Edition': 'ebook',
                                           'Nook': 'ebook',
                                           'Webnovel': 'ebook',
                                           'Unknown Binding': 'ebook',
                                           'Audio CD': 'Audio',
                                           'Audiobook': 'Audio',
                                           'Audible Audio': 'Audio',
                                           'MP3 CD': 'Audio',
                                           'Audio Cassette': 'Audio',
                                            None: 'Paperback',
                                           'Brochura': 'Paperback'}, inplace=True)

In [99]:
# Check the unique values again

books_df.book_format.unique()

array(['Hardcover', 'Paperback', 'ebook', 'Audio'], dtype=object)

In [100]:
# Check the column published

books_df.published.head()

0    First published September 14, 2008
1         First published June 21, 2003
2      First published January 28, 1813
3         First published July 11, 1960
4     First published September 1, 2005
Name: published, dtype: object

In [101]:
# Extract the date from published column

books_df['published_date'] = books_df['published'].str.extract(r'(\w+ \d{1,2}, \d{4})')
books_df.drop(columns=['published'], inplace=True)
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,num_books,version,price,number_of_pages,book_format,published_date
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,72 books99.7k followers,Kindle Unlimited,0.0,374,Hardcover,"September 14, 2008"

In [102]:
# Check for NaN values

books_df.published_date.isnull().sum()

40

In [103]:
# Drop rows with NaN values in the 'published_date' column
books_df.dropna(subset=['published_date'], inplace=True)

# Extract the year from the published_date column 
books_df['published_year'] = books_df['published_date'].str.split(', ').str[1]

# Convert the year column to integer
books_df['published_year'] = books_df['published_year'].astype(int)

In [104]:
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,num_books,version,price,number_of_pages,book_format,published_date,published_year
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,72 books99.7k followers,Kindle Unlimited,0.0,374,Hardcover,"September 14, 2008",2008

In [105]:
# Check the column num_books

books_df.num_books.head()

0       72 books99.7k followers
1       535 books225k followers
2    4,124 books66.3k followers
3       70 books13.5k followers
4       23 books39.2k followers
Name: num_books, dtype: object

In [106]:
# Split the num_books column into two columns: num_books_author and foollowers_author

split_data = books_df['num_books'].str.split(' books' if 'books' in books_df['num_books'].values else ' book', expand=True)
books_df['num_books_author'] = split_data[0].str.replace('.', '').str.replace(',', '')
books_df['followers_author'] = split_data[1]


# Drop the original 'num_books' column
books_df.drop('num_books', axis=1, inplace=True)
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,version,price,number_of_pages,book_format,published_date,published_year,num_books_author,followers_author
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,Kindle Unlimited,0.0,374,Hardcover,"September 14, 2008",2008,72,s99.7k followers

In [107]:
# Check for NaN values

books_df.num_books_author.isnull().sum()

0

In [108]:
# Convert the values from num_books_author column into integer


def transform_books(text):
    
    # Replace 'k' with '000'
    if 'k' in text:
        text = text.replace('k', '000')
    
    # Remove '.' and ',' from the number
    text = text.replace('.', '').replace(',', '')
    
    if text:
        return int(text)
    else:
        return 0  

# Apply the function to the followers column
books_df['num_books_author'] = books_df['num_books_author'].apply(transform_books)
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,version,price,number_of_pages,book_format,published_date,published_year,num_books_author,followers_author
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,Kindle Unlimited,0.0,374,Hardcover,"September 14, 2008",2008,72,s99.7k followers

In [109]:
# Check followers_author column

books_df.followers_author.head()

0    s99.7k followers
1     s225k followers
2    s66.3k followers
3    s13.5k followers
4    s39.2k followers
Name: followers_author, dtype: object

In [110]:
# Check for NaN values

books_df.followers_author.isnull().sum()

0

In [111]:
# Convert the values from followers_author column into integer

def transform_followers(text):
    # Strip 'followers'
    text = text.replace('s', '').replace(' follower', '')
    text = text.replace('s', '')
    
    # Replace 'k' with '000'
    if 'k' in text:
        text = text.replace('k', '000')
    
    # Remove '.' and ',' from the number
    text = text.replace('.', '').replace(',', '')
    
    # Check if the string is empty
    if text:
        return int(text)
    else:
        return 0  # Or any default value you prefer if the string is empty

# Apply the function to the followers column
books_df['followers_author'] = books_df['followers_author'].apply(transform_followers)
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,version,price,number_of_pages,book_format,published_date,published_year,num_books_author,followers_author
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,Kindle Unlimited,0.0,374,Hardcover,"September 14, 2008",2008,72,997000

In [112]:
books_df.head(1)

,title,author,stars,ratings,reviews,synopsis,genre,version,price,number_of_pages,book_format,published_date,published_year,num_books_author,followers_author
0,The Hunger Games,SUZANNE COLLINS,4.34,8601389,216773,"Could you survive on your own in the wild, wit...",Young Adult,Kindle Unlimited,0.0,374,Hardcover,"September 14, 2008",2008,72,997000

In [113]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6843 entries, 0 to 7181
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             6843 non-null   object
 1   author            6843 non-null   object
 2   stars             6843 non-null   float64
 3   ratings           6843 non-null   int64
 4   reviews           6843 non-null   int64
 5   synopsis          6843 non-null   object
 6   genre             6843 non-null   object
 7   version           6843 non-null   object
 8   price             6843 non-null   float64
 9   number_of_pages   6843 non-null   int32
 10  book_format       6843 non-null   object
 11  published_date    6843 non-null   object
 12  published_year    6843 non-null   int32
 13  num_books_author  6843 non-null   int64
 14  followers_author  6843 non-null   int64
dtypes: float64(2), int32(2), int64(4), object(7)
memory usage: 801.9+ KB

In [114]:
#Saving DataFrames I've created to .csv for further works

books_df.to_csv('books_final.csv', index=False)